# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Ensure all node_modules directories are ignored globally
**/node_modules/**

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore HMS_Back_end logs and temporary files
HMS_Back_end/logs/
HMS_Back_end/temp/
HMS_Front_end/Management-Console/node_modules/

# Ignore HMS_Front_end build and cache files
HMS_Front_end/Management-Console/dist/
HMS_Front_end/Management-Console/.angular/cache/
.scannerwork/
sonar-project.properties
# Ignore environment configuration files
*.env
*.env.local

# Ignore debug and error logs
*.log

# Ignore specific temporary files
*.tmp
*.bak
